.page-wrap {
  min-width: 1060px;
  @include outer-container;
}

html {
  background: url(../images/a-portrait.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.sidebar-nav {
  @include span-columns(3.5);
}
.main-content {
  margin-top: 20em;
   @include span-columns(8);
   h1 {
    margin-bottom: .3em;
   }
}
.artist-title {
  @include span-columns(5.6);
  margin-right: 0;
}
.artist-location {
  @include span-columns(1);
}

header {
  nav {
    @include span-columns(2);
    @include shift(10);
    li {
      margin-top: 2em;
      @include span-columns(.5 of 2);
    }
  }
}

.sidebar-nav {
  margin-top: 4em;
  ul {
    margin-top: 1em;
  }
  .sub-sidebar-heading {
    margin-top: 1em;
  }
  h3 {
    color: #D1C7C7;
  }
}
